/* css tag selectors */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 1rem;
}

p {
  text-align: center;
}

div > p {
  font-weight: bold;
}

img {
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
  cursor: pointer;
}

ul {
  margin: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

li {
  /* float: left; */
  color: white;
  padding: 16px;
  text-align: center;
}

/* class selectors */
.filter-container {
  display: flex;
  align-items: center;
}

.team-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-auto-columns: 50px;
  text-align: center;
  align-items: center;
}

.pokemon-container {
  max-width: 300px;
  vertical-align: top;
}

.type-container {
  display: inline-flex;
  text-align: center;
  justify-content: space-evenly;
  vertical-align: top;
}

.type-item {
  width: 80px;
}

.type {
  width: 80px;
}

.stats-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-auto-columns: 200px;
  text-align: center;
  align-items: center;
}

.icon {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.icon-container {
  margin: auto;
  place-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 210px;
}

.grid-item {
  flex: 0 1 80px; /*  No stretching: */
  margin: 5px;
  height: 24px;
}

.border {
  border-style: solid;
}
